@media print {

    body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: white;
        color: black;
        font: 14px;       
    }

    h1, h2, h3 {
    text-align: center;
    color: black;
    }

    nav {
        visibility: hidden;
    }

    /*Gridview Styles*/

.GridViewStyle {
    align-self: center;
}

.GridViewFooterStyle {
    background-color: white; 
    color: black;
}

.GridViewHeaderStyle {
    background-color: black;
    text-decoration: underline; 
    color: white;
    border: 1px solid black;    
}

.GridViewPagerStyle {
    background-color: #FFFFCC; 
    color: #330099; 
    align-self: center;
}

.GridViewRowStyle {
    background-color: white;
    color: black;
}

.GridViewSelectedRowStyle {
    background-color: black; 
    font-weight: bold; 
    color: white;
}

.GridViewSortedAscendingCellStyle {
    background-color: white;
}

.GridViewSortedAscendingHeaderStyle {
    background-color: white;
}

.GridViewSortedDescendingCellStyle {
    background-color: white;
}

.GridViewSortedDescendingHeaderStyle {
    background-color: white;
}
}
